$space: 4px;
$propTab: 12px;

body {
  font-family: monospace;
}

.hidden {
  display: none!important;
}

.header {
  padding: $space;
}

.root {
  padding-left: 8px;

  &.nestingVisualization {
    .typeObject, .typeObjectProp, .typeParametrizedGeneric, .typeIntersectionItem, .typeFunctionArg {
      &:hover {
        background: rgba(100, 100, 100, 0.1);
      }
    }
  }
}

.toolbar {
  display: flex;
  padding: $space;
}

.verticalToolbar {
  display: flex;
  flex-direction: column;
}

.checkbox {
  cursor: pointer;
  margin-left: 20px;
}

.treeView {
  display: block;
  cursor: pointer;
}

.types {
  padding-top: 10px;
}

.path {
  padding: 51px 6px 14px 6px;
  font-size: 14px;
}

.moduleName {
  padding: $space;
  font-weight: bold;
  font-size: 16px;
}

.nodeTitle {
  font-weight: bold;
  display: flex;
}

.nodeParentTitle {
  &:after {
    content: '<-';
    padding-right: $space;
    padding-left: $space;
  }
}

.nodeChildrenWrapper {
  display: flex;

  &.expanded {
    padding-top: 2px;
    &:before {
      content: '└';
      font-size: 20px;
      font-weight: bold;
      padding-top: 2px;
      padding-right: $space;
    }
  }
}

.nodeChildren {
  padding-top: 5px;
}

.typeIntersection {
  display: flex;
}

.typeIntersectionItem {
  padding-left: $space;
  padding-right: $space;
  display: flex;

  &:not(:first-child) {
    &:before {
      content: '&';
      padding-right: 8px;
    }
  }
}

.typeDeclaration {
  font-weight: bold;
}

.typeObject {
  &.typeObjectEmpty {
    display: flex;
  }
}

.typeObjectKey {
}

.typeObjectValue {
  padding-left: $space;
}

.typeObjectChildren {
  padding-left: $propTab;
}

.typeObjectProp {
  display: flex;
}

.typeObjectIndexKey {
  display: flex;
}

.typeObjectIndexValue {
  padding-left: $space;
}

.typeUnionItem {
  display: flex;
}

.typeParametrizedGeneric {
  display: flex;
}

.typeParametrizedGenericArguments {
  display: flex;
}

.typeParametrizedGenericArgument {
  display: flex;

  &:not(:first-child):before {
    content: ',';
    padding-right: $space;
  }
}

.typeGeneric {
  display: flex;
}

.typeFunction {
  display: flex;

  &.typeFunctionManyArgs {
    display: block;
  }
}

.typeFunctionArgs {
  display: flex;

  &.typeFunctionManyArgs {
    display: block;
  }
}

.typeFunctionArg {
  display: flex;

  &.typeFunctionManyArgs {
    padding-left: $propTab;
  }

  &:not(:last-child) {
    &:after {
      content: ',';
      padding-right: $space;
    }
  }
}

.typeFunctionArgType {
}

.typeFunctionArgName {
  &:after {
    content: ':';
    padding-right: $space;
  }
}

.typeFunctionEnding {
  display: flex;
}

.typeFunctionReturn {
  display: flex;

  &:before {
    content: '=>';
    padding: 0 $space;
  }

  &.typeFunctionManyArgs {
    padding-left: 8px;
  }
}

.typeClass {
}

.typeClassHeader {
  display: flex;
}

.typeClassName {
  display: flex;

  &:before {
    content: 'class';
    padding-right: $space;
  }
}

.typeObjectParent {
  display: flex;
  padding-right: $space;

  &:before {
    content: 'extends';
    padding-right: $space;
    padding-left: $space;
  }
}

.typeVariable {
  display: flex;

  &:before {
    content: 'var';
    padding-right: $space;
  }
}

.typeVariableType {
  display: flex;

  &:before {
    content: ':';
    padding-right: $space;
  }
}
