body {
  font-family: monospace;
}

.header {
  padding: 4px;
}

.root {
  padding-left: 8px;

  &.nestingVisualization {
    .typeObject, .typeObjectProp, .typeParametrizedGeneric, .typeIntersectionItem {
      &:hover {
        background: rgba(100, 100, 100, 0.1);
      }
    }
  }
}

.toolbar {
  display: flex;
  padding: 4px;
}

.checkbox {
  cursor: pointer;
  margin-left: 20px;
}

.treeView {
  display: block;
  cursor: pointer;
}

.nodeTitle {
  font-weight: bold;
}

.nodeChildrenWrapper {
  display: flex;

  &.expanded {
    padding-top: 2px;
    &:before {
      content: '└';
      font-size: 20px;
      font-weight: bold;
      padding-top: 2px;
      padding-right: 4px;
    }
  }
}

.nodeChildren {
  padding-top: 5px;
}

.typeIntersection {
  display: flex;
}

.typeIntersectionItem {
  padding-left: 4px;
  padding-right: 4px;
  display: flex;

  &:not(:first-child) {
    &:before {
      content: '&';
      padding-right: 8px;
    }
  }
}

.typeDeclaration {
  font-weight: bold;
}

.typeObject {
}

.typeObjectKey {
}

.typeObjectValue {
  padding-left: 4px;
}

.typeObjectChildren {
  padding-left: 12px;
}

.typeObjectProp {
  display: flex;
}

.typeObjectIndexKey {
  display: flex;
}

.typeObjectIndexValue {
  padding-left: 4px;
}

.typeUnionItem {
  display: flex;
}

.typeParametrizedGeneric {
  display: flex;
}

.typeParametrizedGenericName {
  &:after {
    content: '<-';
    padding-right: 4px;
    padding-left: 4px;
  }
}

.typeGeneric {
  display: flex;
}

.rootType {
  padding-top: 10px;
}

.path {
  padding: 51px 6px 14px 6px;
  font-size: 14px;
}